{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <img
          class="avatar"
          src="https://s.gravatar.com/avatar/{{ md5 .Site.Data.homepage.about.image.gravatar }}?s=500')"
          alt="Profile Picture"
        />
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.about.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.about.content | markdownify | safeHTML }}
        </p>
        <a
          href="{{ .Site.Data.homepage.about.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.about.button.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
