<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="footer__copy">
        {{ .Site.Params.footer.copyright | markdownify }}
      </div>
    </div>
    <div class="footer__links">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        {{ range .Site.Menus.footer }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Name | upper }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer__right">
      <a href="https://radity.com/"
        ><img
          src="{{ .Site.Params.footer.radity_logo.x | absURL }}"
          srcset="{{ .Site.Params.footer.radity_logo.x | absURL }} 1x, {{ .Site.Params.footer.radity_logo._2x | absURL }} 2x"
          alt="{{ .Site.Params.footer.radity_logo.alt }}"
      /></a>
    </div>
  </div>
</footer>
