<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
        {{ if .Site.Params.logo.text }}
          <span>{{ .Site.Params.logo.text1 }}</span>
          <span>{{ .Site.Params.logo.text2 }}</span>
        {{ else if .Site.Params.logo.image }}
          <img class="avatar" 
               src="https://s.gravatar.com/avatar/{{ md5 .Site.Params.logo.gravemail }}?s=300')"
          />
        {{ else }}
          <p>Nada</p>
        {{ end }}
        <!-- <img
          class="img-responsive"
          src="img/logo-dark.png"
          srcset="img/logo-dark.png 1x, img/logo-dark@2x.png 2x"
          alt="Header Logo"
        /> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | absURL }}">HOME</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ .URL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
