{{ $items_type := .Params.content.page_type | default "post" }}
{{ $items_offset := .Params.content.offset | default 0 }}
{{ $items_count := .Params.content.count }}
{{ if eq $items_count 0 }}
  {{ $items_count = 65535 }}
{{ else }}
  {{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := .Params.content.order | default "desc" }}

{{/* Query */}}
{{ $query := where site.RegularPages "Type" $items_type }}
{{ $archive_page := site.GetPage "Section" $items_type }}

{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Offset and Limit */}}
{{ if gt $items_offset 0 }}
  {{ $query = first $items_count (after $items_offset $query) }}
{{ else }}
  {{ $query = first $items_count $query }}
{{ end }}


{{ if .Site.Data.homepage.publications.enable }}
<section id="publications" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                {{ range ( where .Site.RegularPages "Type" "publications" | first 3 ) }}
                <div class="experience">
                    <div class="experience__date">{{ .Date.Format "2006" }}</div>
                    <div class="experience__title">
                        <a href="{{ .Params.doi }}" target="_blank">{{ .Title }}</a>
                    </div>
                    <div class="experience__company">{{ .Params.journal }}</div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-sm-6">
                <h2>{{ .Site.Data.homepage.publications.title }}</h2>
                <p class="lead">
                    {{ .Site.Data.homepage.publications.description | markdownify }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
