/* You can customize theme styles here */
.header .navbar-brand img.avatar {
    height:2em;
    margin:-0.4em -0.25em -0.6em;
    max-height:2em;
    max-width:2em;
    padding:0;
    width:2em
}

.avatar {
  background-position: center;
  background-size: cover;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12),0 1px 4px 0 rgba(0,0,0,0.24);
}

.header .navbar-brand img {
    object-fit: contain;
    object-position: center center
}

.footer__copy {
  text-align: center !important;
}

img.other_icon {
  margin-left: .2em;
  margin-right: 10px;
  height: 1.4em;
  max-height: 1.4em;
  max-width: 1.4em;
  width: 1.4em;
  -webkit-transition: 0.15s;
  transition: 0.15s;
} 

img.other_icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

a.nounder{
  text-decoration: none !important;
}

.experience__title a {
  color: black;
  text-decoration: none;
}

.experience__title a:hover {
    color: rgba(0, 0, 0, .7);
    text-decoration: none
}

.experience__company {
  font-style: italic;
}
